// 菜单收缩时高亮选中菜单
.ant-layout-sider-collapsed {
  .active-item {
    background-color: #182443;
    .ant-menu-submenu-title {
      color: #fff;
    }
  }
}

.popup-active-item {
  .ant-menu-submenu-title {
    color: #fff;
  }
}