// Silder
@menuLightActiveText: #1890ff;
@menuLightActiveBg: #e6f7ff;

@menuDarkActiveText: #fff;
@menuDarkActiveBg: #1890ff;

@menuBg: #001529;
@menuLightBg: #fff;

@menuWidth: 200px;

// topSilder
@topSilderHeight: 70px;

// navbar
@navbarHeight: 50px;

// tagsView
@tagsViewHeight: 40px;

// content
@contentBg: #f5f7f9;